:root{
    --deep-aqua: hsl(188, 100%, 14%);
    --ocean: hsl(183, 86%, 19%);
    --wave: hsl(187, 30%, 54%);
    --seafoam: hsl(192, 40%, 84%);
    --gradient: linear-gradient(to right, var(--wave),var(--deep-aqua));


}

.pacientes {
    height: 100%;
    background-color: rgb(243, 243, 243);
}
.btn-new{
    /* background-color: var(--gradient); */
    background-color: var(--seafoam);
}
.btn-new:hover{
    background-color: var(--wave);
    color: #fff;
}

.pacientes__body {
    padding: 12px 60px;
}

.paciente__new {
    border-radius: 10px;
    padding: 40px 30px;
}

.paciente__header {
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.paciente__header h2 {
    color: inherit;
}

.pacientes__titulo {
    color: var(--text-color);
}

.paciente__form {
    display: grid;
    grid-template-areas:
        "cedula nombre apellido_uno"
        "apellido_dos sexo telefono"
        "edad direccion correo"
        ". limpiar guardar";
    gap: 10px;
}

.paciente__campo {
    max-width: 20rem;
    max-height: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.paciente__campo input {
    padding: 10px 5px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: inherit;
    color: var(--text-color);
    border-bottom: 0.5px solid rgba(70, 35, 102, 0.389);
    font-size: 17px;
    font-weight: 300;
}

.paciente__campo label {
    font-size: 17px;
    font-weight: 300;
    white-space: nowrap;
    opacity: 1;
    color: var(--text-color);
}

/* Botones de añadir paciente */

.paciente__boton {
    background-color: #27ae60;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    max-width: 20rem;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.paciente__boton:hover {
    background-color: #1e8449;
    transform: translateY(-2px);
}

.campo__10:hover {
    background-color: #84731e;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .paciente__boton {
        padding: 16px 44px;
        min-width: 150px;
    }
}

.campo__1 {
    grid-area: cedula;
}

.campo__2 {
    grid-area: nombre;
}

.campo__3 {
    grid-area: apellido_uno;
}

.campo__4 {
    grid-area: apellido_dos;
}

.campo__5 {
    grid-area: sexo;
}

.campo__6 {
    grid-area: telefono;
}

.campo__7 {
    grid-area: edad;
}

.campo__8 {
    grid-area: correo;
}

.campo__9 {
    grid-area: direccion;
}

.campo__10 {
    grid-area: limpiar;
    /* background-color: rgb(13, 67, 13); */
    background-color: #ae7a27;
    box-shadow: rgba(174, 136, 39, 0.15) 0 4px 9px;
}

.campo__11 {
    grid-area: guardar;
}
.dropdown-menu{
    z-index: 1000;
   position: relative;
}


/* ------------------------------Cards------------------------------- */

.card::after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 35px;
    background-color: #fff;
    -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    content: '';
    z-index: -1;
}
a.card {
    text-decoration: none;
    color: var(--ocean);
    /* background-color: var(--seafoam); */
}

.card {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.bg-white {
    background-color: #fff !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.d-block {
    display: block !important;
}
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.text-sm {
    font-size: 12px !important;
}
p, .p {
    margin: 0 0 16px;
}

.card-title {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.head-icon{
    margin-top:18px;
    /* color:#FF4500; */
    color: hsl(187, 30%, 54%);
}

/* Calendar */
.rbc-allday-cell {
    display: none !important;
  }

  .rbc-time-header > .rbc-row:nth-of-type(2) {
    display: none !important;
}