/* .ReactModalPortal > div{
    opacity: 0;
  }
  
  

  .ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 9999;
  }
  
  .modal_fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .modal{
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 694px;
    max-width: 900px;
    outline: none;
    padding: 10px;
  } */

  

  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  /* h3 {
    font-family: "Times New Roman";
    font-size: 50px;
    text-align: center;
    background-color: #333;
    color: green;
  } */
  
  .reloj {
    
    font-family: "Times New Roman";
    /* font-size: 50px; */
    /* text-align: center; */
    /* padding: 20px; */
    /* background-color: rgb(15, 14, 14); */
    /* color: green; */
    color: hsl(183, 86%, 19%);

  }

  /* .fab{
    border-radius: 100%;
    bottom: 25px;
    font-size: 30;
    padding: 25px;
    position: fixed;
    right: 25px;
} */

.fab-danger{
    bottom: 10px;
    padding: 10px;
    position: fixed;

    left: 300px;
}
  
.tama{
  height: 150px;
}